*{margin: 0;}
 
.col-lg-3{padding:0;border: solid white 1px;}
.box{
	height: 800px;
	width: 800px;
	margin: auto;
}
.f-panzoom{
	height: 100%;
	width: 100%;
}

.f-panzoom__viewport{
	margin: auto;
	padding: 50px;
	margin-top: 100px;
	
}