.fancybox__backdrop::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 10%;
  filter: blur(2px);
  left: 50%;
  top: 50%;
  transform: scale(11);
  opacity: 0.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fancybox__toolbar {
  padding: 16px;
}

.fancybox__toolbar,
.fancybox__nav {
  --f-button-border-radius: 50%;
  --f-button-bg: rgb(91 78 76 / 64%);
  --f-button-hover-bg: rgb(91 78 76 / 74%);
  --f-button-active-bg: rgb(91 78 76 / 84%);
}

.fancybox__nav {
  --f-button-svg-width: 22px;
  --f-button-svg-height: 22px;
}

.fancybox__thumbs.is-classic {
  --f-thumb-width: 48px;
  --f-thumb-height: 48px;
  --f-thumb-gap: 16px;

  --f-thumb-border-radius: 6px;
  --f-thumb-outline: 0;
}
